.user-greeting {
  font-size: 4vw;
  font-weight: bold;
  color: #131010;
  margin: 0;
  top: 5%;
  left: 5%;
  position: absolute;
}

.user-info {
  border: 2px solid #ccc;
  border-radius: 1em;
  background-color: #f9f9f9;
  box-shadow: 0 0.5em 1em rgba(0, 0, 0, 0.1);
  position: absolute;
  bottom: 1%;
  right: 2%;
}

.user-details p {
  margin: 5px 0;
}

.user-details p strong {
  font-weight: bold;
  color: #555;
}

.user-details p span {
  color: #777;
}

.button-container {
  position: absolute;
  
}

.button-container button {
  display: block;
  margin: 50px auto;
  background-color: #4caf50;
  color: white;
  padding: 14px 20px;
  font-size: 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.button-container button:hover {
  background-color: #0e3b10;
}
.content-container {
  position: absolute;
  backdrop-filter: blur(10px);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%; 
  max-width: 700px; 
  border: 1px solid #181717; 
  padding: 20px; 
  max-height: 50%;
  overflow-y: auto;
}

.content-container button {
  position: sticky;
  top: 10px;
  background-color: #0e5f12;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}
.content-container button:hover{
  background-color: #0e3b10;
}

.content-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: 55%;
}
@media only screen and (max-width: 768px) {
  .user-info {
    display: none;
  }
  .user-greeting{
    display: none;
  }
  .logout{
    position: fixed;
  }
}
