/* App.css */

.app {
  position: relative;
  width: 100%;
  min-height: 100vh;
}
.center-background {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 20%;
  right: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.left-background,
.right-background {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 20%;
  background-size: 100%;
  background-image: url("assets/backgorundImg.jpg");
  background-repeat: repeat-y;
}

.left-background {
  left: 0;
}

.right-background {
  right: 0;
}
.logout {
  position: absolute;
  top: 20px;
  right: 20px;
}

.logout button {
  background-color: #f44336; 
  color: white; 
  border: none; 
  padding: 10px 20px; 
  font-size: 16px; 
  cursor: pointer; 
  border-radius: 5px; 
}

.logout button:hover {
  background-color: #d32f2f; 
}

@media (max-width: 768px) {
  .left-background,
  .right-background {
    display: none;
  }

  .content {
    padding: 10px;
  }
}
